In [1]:
import pandas as pd

In [2]:
df_posts = pd.read_csv("posts_travel.csv")

In [3]:
df_posts.head()

,post_id,title,author,score,num_comments,created_utc,subreddit,post_url,selftext
0,1mnkqmi,Advice on travel in/near Croatia,gtjs001,1,1,1.754936e+09,travel,https://www.reddit.com/r/travel/comments/1mnkq...,My wife and I are going to take an 8-day bike ...
1,1mnkabx,Night time in London,Areotew,0,9,1.754935e+09,travel,https://www.reddit.com/r/travel/comments/1mnka...,I have found myself with a 13hr layover in Lon...
2,1mnk8sc,Things to do in Régua without a car?,Ok_Hearing7948,1,1,1.754935e+09,travel,https://www.reddit.com/r/travel/comments/1mnk8...,"I’ll be spending some time in Régua, Portugal,..."
3,1mnk0m9,Malaysia in September,AdagioNovel1264,1,1,1.754935e+09,travel,https://www.reddit.com/r/travel/comments/1mnk0...,"Hello,\n\nme and my girlfriend are planning a ..."
4,1mnjrrn,"Solo trip suggestions in Canada, 1 week",Expert_Variation_123,1,3,1.754934e+09,travel,https://www.reddit.com/r/travel/comments/1mnjr...,"Hi,\n\nWould someone be able to suggest safe t..."

In [4]:
# To know Column names, DataTypes and Non-Null Count
df_posts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   post_id       60 non-null     object
 1   title         60 non-null     object
 2   author        60 non-null     object
 3   score         60 non-null     int64
 4   num_comments  60 non-null     int64
 5   created_utc   60 non-null     float64
 6   subreddit     60 non-null     object
 7   post_url      60 non-null     object
 8   selftext      60 non-null     object
dtypes: float64(1), int64(2), object(6)
memory usage: 4.3+ KB

In [5]:
# To know how much % of missing values in each column
df_posts.isna().sum()/len(df_posts)

post_id         0.0
title           0.0
author          0.0
score           0.0
num_comments    0.0
created_utc     0.0
subreddit       0.0
post_url        0.0
selftext        0.0
dtype: float64

In [6]:
# removing unnecessary items from body of the text \n  and ** from
df_posts["selftext"] = df_posts["selftext"].str.replace("\n","")
df_posts["selftext"] = df_posts["selftext"].str.replace("**","")

In [7]:
# dropping the duplicates and null values
df_posts.dropna(inplace=True)
df_posts.drop_duplicates(inplace=True)

In [8]:
# indcates no Null values in the data
df_posts[df_posts.isna().any(axis=1)]

Empty DataFrame
Columns: [post_id, title, author, score, num_comments, created_utc, subreddit, post_url, selftext]
Index: []

In [9]:
# indcates no duplicated values in the data
df_posts.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
56    False
57    False
58    False
59    False
dtype: bool

In [10]:
df_posts.to_csv("posts_travel_cleaned.csv",index=False)

# Comments dataFrame

In [11]:
df2_comments = pd.read_csv("comments_travel.csv")
df2_comments.head()

,comment_id,author,score,created_utc,parent_id,link_id,body
0,n85i14a,AutoModerator,1,1.754936e+09,t3_1mnkqmi,t3_1mnkqmi,**Notice:** Are you asking for travel advice a...
1,n85fd9z,NewJerseyAggie13,1,1.754935e+09,t3_1mnkabx,t3_1mnkabx,"London has several epic Pub crawls, but I woul..."
2,n85gih8,ZKH15,1,1.754936e+09,t3_1mnkabx,t3_1mnkabx,"As a Londoner, I’d say you can definitely make..."
3,n85gttp,UnhappyScore,1,1.754936e+09,t3_1mnkabx,t3_1mnkabx,"If its the weekend, a bit more luck, but this ..."
4,n85fl96,gateofai,1,1.754936e+09,t3_1mnkabx,t3_1mnkabx,"Nothing really everything is closes early, and..."

In [12]:
df2_comments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415 entries, 0 to 414
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   comment_id   415 non-null    object
 1   author       415 non-null    object
 2   score        415 non-null    int64
 3   created_utc  415 non-null    float64
 4   parent_id    415 non-null    object
 5   link_id      415 non-null    object
 6   body         415 non-null    object
dtypes: float64(1), int64(1), object(5)
memory usage: 22.8+ KB

In [13]:
df2_comments.isna().sum()/len(df2_comments)

comment_id     0.0
author         0.0
score          0.0
created_utc    0.0
parent_id      0.0
link_id        0.0
body           0.0
dtype: float64

In [14]:
df2_comments[df2_comments.isna().any(axis=1)]

Empty DataFrame
Columns: [comment_id, author, score, created_utc, parent_id, link_id, body]
Index: []

In [15]:
# removing unnecessary items from body of the text \n  and ** from
df2_comments["body"] = df2_comments["body"].str.replace("\n","")
df2_comments["body"] = df2_comments["body"].str.replace("**","")

In [16]:
# for each Null value in column author the body column value = [removed] 
# drop duplicates and remove null values in author 
df2_comments.drop_duplicates(inplace=True)
df2_comments.dropna(inplace=True)

In [17]:
# no null valeus found not duplicated
df2_comments[df2_comments.isna().any(axis=1)]

Empty DataFrame
Columns: [comment_id, author, score, created_utc, parent_id, link_id, body]
Index: []

In [18]:
df2_comments.to_csv("comments_travel_cleaned.csv",index=False)